/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/*
*** Layout ***
*/
#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens, #area-lateral {
    background:  orange;
}

#area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

#rodape {
    text-align: center;
    padding: 15px;
    background: #CCC;
    clear: both;
}

/*
*** Formatação do menu ***
*/
a {
    text-decoration: none;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #FFF;
    padding: 8px 12px;
}

a:hover {
    color: #f7b600;
    background: #FFF;
}

/*
*** Formatações em geral ***
*/
h1 {
    color: #4e4e4e;
    font-size: 2.5em;
    
}

h2 {
    color: #f7b600
}

.branco {
    color: white;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    display: block;
    margin-bottom: 10px;
} 